@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Header = "Joel Hilton's Home Page";
}


@*
    Home Page. With the image of Professor Hilton's brother
*@
<div class="text-center">

    <img src="~/Hilton.jpg" width="400" />

</div>
